@font-face {
    font-family: 'Telegraf Regular';
    src: local('Telegraf Regular'), url('../fonts/Telegraf_Regular.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf UltraLight';
    src: local('Telegraf UltraLight'), url('../fonts/Telegraf_UltraLight\ 200.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf UltraBold';
    src: local('Telegraf UltraBold'), url('../fonts/Telegraf_UltraBold\ 800.woff') format('woff');
}


html,
body {
    margin: 0;
}

