/* CSS */
@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf_Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf_UltraBold\ 800.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../fonts/Telegraf_UltraLight\ 200.woff') format('woff');
    font-weight: 200;
}

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Telegraf', sans-serif;
    background-color: #131313;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.greeting-text {
    font-family: 'Telegraf', 'Albert Sans', sans-serif;
    font-size: 4.5rem;
}

.greeting-text-user {
    font-weight: 800;
}

.message-input-container {
    background-color: #303030;
    border-radius: 30px;
    width: 100%;
}

.message-input {
    font-family: "Albert Sans", sans-serif;
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    resize: none;
    outline: none;
    margin: 1rem;
}

.tool-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    padding: 2rem;
    padding-top: 5rem;
    margin-top: -4rem;
    border-radius: 30px;
    z-index: -100;
    position: relative; /* Add this line */


    background-color: #202020;
}

.tool-select-list {
    display: flex;
    overflow-x: auto;
    width: 100%; /* Take full width of container */
    padding-bottom: 0.5rem; /* Add space for scrollbar */
}

.tool-select-chip-container {
    background-color: #303030;
    border-radius: 30px;
    padding: 0.90rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0; /* Prevent chips from shrinking */
}

.chat-box {
    width: 100%;
    max-width: 550px;
}

