@font-face {
  font-family: 'Telegraf';
  src: url('./assets/fonts/Telegraf/PPTelegraf-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./assets/fonts/Telegraf/PPTelegraf-RegularOblique.otf') format('opentype');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./assets/fonts/Telegraf/PPTelegraf-RegularSlanted.otf') format('opentype');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./assets/fonts/Telegraf/PPTelegraf-Ultrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./assets/fonts/Telegraf/PPTelegraf-UltraboldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./assets/fonts/Telegraf/PPTelegraf-UltraboldSlanted.otf') format('opentype');
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./assets/fonts/Telegraf/PPTelegraf-Ultralight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./assets/fonts/Telegraf/PPTelegraf-UltralightOblique.otf') format('opentype');
  font-weight: lighter;
  font-style: oblique;
}

@font-face {
  font-family: 'Telegraf';
  src: url('./assets/fonts/Telegraf/PPTelegraf-UltralightSlanted.otf') format('opentype');
  font-weight: lighter;
  font-style: oblique;
}


@font-face {
  font-family: 'NeueCorp-Compact';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-CompactMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Compact';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-CompactUltrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Compact';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-CompactUltralight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Compressed';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-CompressedMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Compressed';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-CompressedUltrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Compressed';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-CompressedUltralight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Condensed';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-CondensedMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Condensed';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-CondensedUltrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Condensed';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-CondensedUltralight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Extended';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-ExtendedMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Extended';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-ExtendedUltrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Extended';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-ExtendedUltralight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Narrow';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-NarrowMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Narrow';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-NarrowUltrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Narrow';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-NarrowUltralight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-NormalMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-NormalUltrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-NormalUltralight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Tight';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-TightMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Tight';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-TightUltrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Tight';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-TightUltralight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Wide';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-WideMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Wide';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-WideUltrabold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueCorp-Wide';
  src: url('./assets/fonts/NeueCorp/PPNeueCorp-WideUltralight.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
